html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: #040413;
  color: white;

  font-family: Avenier-Roman, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

/* Large displays greater than 768 pixels */
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* Medium displays greater than 480 pixels and less than 768 pixels */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 15px;
  }
}

/* Small displays smaller than 479 pixels */
@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}


